/*colors:  #adddb8 (mint),  whitesmoke*/

/* 
ion-icon {
  font-size: 30px;
} */

/*Schriftarten*/

@font-face {
  font-family: jp;
  src: url(../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
  font-family: sawarabi-gothic;
  src: url(../fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
}

@font-face {
  font-family: guppo;
  src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
}

body {
  background-color: white;
  font-family: jp;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  ul {
    list-style: none; /*removes the bullet points or numbering*/
    padding: 0; /*removes the left padding that browsers often apply by default*/
    margin: 0; /*removes the margin, which also helps get rid of any additional spacing around the list*/
  }
}

.header {
  /* border: 2px solid red; */
  height: 80px;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #cecdcde8;
  box-shadow: 0.1px 0.1px 9px rgba(0, 0, 0, 0.486);
  position: sticky;
  top: 0;
  width: 100%;
  transition: top 0.4s; /* Smooth transition for hiding */

  img {
    /* border: 2px solid blue; */
    height: 100px;
  }
}

.main {
  height: 1000px;
  .block {
    /* border: 2px solid red; */
    padding: 100px 250px;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 35px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: small;

    button {
      border: 1px solid rgba(0, 0, 0, 0.178);
      width: 160px;
      height: 25px;
      margin-left: 10px;
      background-color: white;
      color: black;
      font-family: sawarabi-gothic;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;

      &:hover {
        border: 2px solid black;
      }
    }
  }
}

form {
  /* border: 2px solid blue; */

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
  }

  input {
    width: 17%;
    height: 30px;
    margin-bottom: 15px;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: small;
    color: grey;

    &:visited {
      color: grey;
    }

    &:hover {
      color: black;
    }
  }

  button {
    width: 8%;
    height: 25px;
    background-color: black;
    text-transform: uppercase;
    border: none;

    a {
      font-size: 12px;
      color: white;
    }

    a:visited {
      color: white;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.596);
    }
  }
}

.oder-borderline {
  border-bottom: 1px solid black;
  height: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}

.button-facebook {
  /* border: 2px solid red; */
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  button {
    background-color: #1877f2;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      /* border: 2px solid blue; */
      color: white;
      font-size: 18px;
      font-weight: bold;
      width: 290px;
    }

    .fa-brands {
      /* border: 2px solid red; */
      margin-right: 10px;
      font-size: 28px;
      color: white;
    }
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: small;

  a:link {
    color: gray;

    &:hover {
      color: black;
    }
  }
}

#tooltip {
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.tooltip-content1,
.tooltip-content2 {
  visibility: hidden;
  width: 98%;
  height: 82px;
  background-color: #555555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;  /* zur Sicherstellung der Sichtbarkeit des Tooltips über andere Elemente*/
  bottom: 125%; /* Position des Tooltips oberhalb des Textes */
  margin-left: -182px; /* Tooltip Position */
  opacity: 0;
  transition: opacity 0.8s; /* transition zeit, */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  a:link {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
  a:visited {
    color: #fff;
  }
}

#tooltip:hover .tooltip-content1,
#tooltip:hover .tooltip-content2 {
  visibility: visible;
  opacity: 1;  /*Transparenz für Tooltip-Textfeld (je kleiner die Zahl, desto tranzparenter wird es)*/
}

.tooltip-content2 {
  visibility: hidden;
  width: 92%;
  height: 50px;
}

.checkbox {
  /* border: 2px solid pink; */
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
  input {
    width: 15px;
    margin: 0;
  }
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: small;
    color: #525253;
  }
}

footer {
  /* border: 2px solid red; */
  border-top: 1px solid #cecdcde8;
  padding-left: 40px;
  padding-right: 40px;
  p {
    /* border: 2px solid orange; */
    margin: 24px 0px 55px;
    font-size: 14px;
    color: #474747;
  }
}
