/*colors:  #adddb8 (mint),  whitesmoke*/

/* 
ion-icon {
  font-size: 30px;
} */

/*Schriftarten*/

@font-face {
    font-family: jp;
    src: url(../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: sawarabi-gothic;
    src: url(../fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
  }
  
  @font-face {
    font-family: guppo;
    src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
  }
  
  body {
    background-color: whitesmoke;
    font-family: jp;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    ul {
      list-style: none; /*removes the bullet points or numbering*/
      padding: 0; /*removes the left padding that browsers often apply by default*/
      margin: 0; /*removes the margin, which also helps get rid of any additional spacing around the list*/
    }
  }













  

/* 
 footer {
 border: 2px solid red;
 height:100px;
 
 p {
    border: 2px solid orange;
    height: 20px;
 padding: 24px 0px 55px;
    color: #525253;
    }
  } */