/*Schriftarten*/

@font-face {
  font-family: jp;
  src: url(../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
  font-family: sawarabi;
  src: url(../fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
}

@font-face {
  font-family: guppo;
  src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
}
body {
  font-family: jp;
  margin: 0;
  padding: 0;
}

header:nth-of-type(2) ul:nth-of-type(2) {
  font-family: sawarabi;
  font-weight: bold;
  font-size: large;
}

main h3 {
  font-family: gruppo;
  font-size: x-large;
  font-weight: lighter;
}

/*colors:  #adddb8 (mint),  whitesmoke*/

body {
  background-color: whitesmoke;
}

/*header part*/

header ul {
  list-style: none; /*schaltet Listenpunkte aus*/
}

ion-icon {
  font-size: 30px;
}

.header{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
width: 100%;
left: 0;
}

/* .nav-container_one {
  border-style: solid;
  border-color: red;
   
} */

.nav-head_bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
 font-size: 100%;
}
.nav-head_bar li{
margin-left: 20px;

}

.search_icon{
font-size: 120%;
}

.basket_icon{
  font-size: 150%;
}


.logo {
    /* border-style: solid;
  border-color: blueviolet; */

  display: block;
  height: 150px;
  margin-left: 80px;

}

/* .nav-container_two{
  border-style: solid;
  border-color: red;
} */
.nav-bar ul{
  display: flex; 
  margin-left: 65px;
 gap:30px;
 text-transform: uppercase;
 font-size: x-large;
}


/*main-part*/

.main{
  margin-top:300px;
}

.first_paragraph{
  background-color:#adddb8 ;
  display: flex;
  justify-content: center;
}

main > section:nth-of-type(1) p {
  display: flex;
  justify-content: center;
}

.image2 {
  display: flex;
  width: 500px;
  height: 500px;
}

/*Bilderreihe*/

.container3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*footer part*/

footer ul {
  list-style: none;
}

.container4 {
  display: flex;
  justify-content: flex-start;
  gap: 100px;

  margin-bottom: 50px;
  margin-top: 100px;
}

/*Hyperlink Einstellungen*/

a:link {
  text-decoration: none;

  color: black;
}

a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
