/*colors:  #adddb8 (mint),  whitesmoke*/

/* 
ion-icon {
  font-size: 30px;
} */

/*Schriftarten*/

@font-face {
  font-family: jp;
  src: url(../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
  font-family: sawarabi-gothic;
  src: url(../fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
}

@font-face {
  font-family: guppo;
  src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
}

main h3 {
  font-family: gruppo;
  font-size: x-large;
  font-weight: lighter;
}

body {
  /* border: 2px solid red; */
  height: auto;
  background-color: white;
  font-family: jp;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  ul {
    list-style: none; /*removes the bullet points or numbering*/
    padding: 0; /*removes the left padding that browsers often apply by default*/
    margin: 0; /*removes the margin, which also helps get rid of any additional spacing around the list*/
  }
}

/*header part*/

.header {
  /* border: 2px solid blue; */
  font-family: sawarabi-gothic;
  background-color: white;
  position: sticky;
  top: 0;
  transition: top 0.3s; /* Smooth transition for hiding */
  padding-left: 40px;
  padding-right: 40px;

  .logo {
    /* border: 2px solid purple; */
    height: 130px;
    margin-top: -40px;
  }
}

.nav-container_one {
  /* border: 2px solid red; */
  height: 40px;

  ul {
    /* border: 2px solid pink; */
    width: 15%;
    position: absolute;
    right: 0;
    display: flex;
    margin-top: 6px;
    justify-content: space-evenly;
    margin-right: 40px;
  }

  li:nth-of-type(1):before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
  }

  li:nth-of-type(2):before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }
}

.nav-container_two {
  /* border: 2px solid orange; */
  height: 40px;
  width: 70%;
  margin-left: 240px;
  margin-top: -75px;

  .nav-bar ul {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

/*main-part*/

.main {
  height: 1000px;
}

.first_paragraph {
  background-color: #adddb8;
  display: flex;
  justify-content: center;
}

/*makeup picture content*/

.makeup-content {
  /* border: 2px solid red; */
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;
  gap: 30px;
  margin: 100px auto;

  .image-makeup {
    display: flex;
    width: 100%;
    height: 500px;
  }

  a {
    border-bottom: 2px solid black;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
  }
}

/*footer part*/

.footer-content {
  border-top: 1px solid #cecdcde8;
  border-bottom: 1px solid #cecdcde8;
  /* border: 2px solid red; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;

  div {
    /* border: 2px solid blue; */
    width: 14%;
    height: 350px;
    color: #39424e;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;

    h3 {
      font-size: 16px;
      margin-top: 0;
      align-items: center;
      color: black;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.footer-content_two {
  /* border: 2px solid red; */
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  img {
    height: 60px;
  }

  .link-icons {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5%;
    gap: 10px;
    margin-left: 20px;
    font-size: 18px;
  }

  p {
    /* border: 2px solid orange; */
    height: 20px;
    margin-left: 62%;
    color: #94949d;
  }
}

/*Hyperlink Einstellungen*/

a:link {
  text-decoration: none;

  color: black;
}

a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
